<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitSellerMapper">

 	<resultMap id="seller" type="SbillitSeller">
      <id property="id" column="id"/>
      <result property="name" column="name"/>
      <result property="phone" column="phone"/>
      <result property="address" column="address"/>
      <result property="rate" column="rate"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
    </resultMap>
    
    <select id="findSellerById" parameterType="int" resultMap="seller">
    	select * from sbillit_seller
    	where id = #{id}
    </select>


</mapper>