<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitUserMapper">
 	<resultMap id="user" type="SbillitUser">
      <id property="id" column="id"/>
      <result property="phone" column="phone"/>
      <result property="banned" column="banned"/>
      <result property="point" column="point"/>
      <result property="smsToken" column="sms_token"/>
      <result property="smsFlag" column="sms_flag"/>
      <result property="smsExpiredAt" column="sms_expired_at"/>
      <result property="inviteId" column="invite_id"/>
      <result property="nickname" column="nickname"/>
      <result property="password" column="password"/>
      <result property="country" column="country"/>
      <result property="city" column="city"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
    </resultMap>
        
    <select id="findAllUsers" resultMap="user">
        SELECT * FROM sbillit_user WHERE 1=1
    </select>
    
    <select id="findUserById" parameterType="long" resultMap="user">
        SELECT * FROM sbillit_user WHERE id=#{value}
    </select>
    
    <select id="findUserByPhone" parameterType="String" resultMap="user">
 		SELECT * FROM sbillit_user WHERE phone = #{value}   
    </select>
    
    <update id="updateUser" parameterType="SbillitUser">
    	UPDATE sbillit_user
		<set>
			<if test="smsToken != null">
      			sms_token = #{smsToken}, 
      		</if>
      		<if test="smsFlag != null">
      			sms_flag = #{smsFlag}, 
      		</if>
      		<if test="smsExpiredAt != null">
      			sms_expired_at = #{smsExpiredAt}, 
      		</if>
      		updated_at = UNIX_TIMESTAMP()
      	</set>
    	WHERE id = #{id}
    </update>
    
    <insert id="insertUser" parameterType="SbillitUser">
    	INSERT INTO sbillit_user 
    	(id, phone, banned, sms_token, sms_flag, sms_expired_at, nickname, created_at, updated_at) 
    	VALUES 
    	(#{id}, #{phone}, #{banned}, #{smsToken}, #{smsFlag}, #{smsExpiredAt}, #{nickname}, UNIX_TIMESTAMP(), UNIX_TIMESTAMP())   
    <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
	   SELECT id FROM seq_user
	</selectKey>
    </insert>
    
    <update id="updateSeq">
    	UPDATE seq_user SET id=id+1;
    </update>
    
</mapper>