<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitComboMapper">

	<resultMap id="combo" type="SbillitCombo">
	  <id property="id" column="id"/>
      <result property="itemName1" column="item_name1"/>
      <result property="itemNumber1" column="item_number1"/>
      <result property="itemPrice1" column="item_price1"/>
      <result property="itemName2" column="item_name2"/>
      <result property="itemNumber2" column="item_number2"/>
      <result property="itemPrice2" column="item_price2"/>
      <result property="itemName3" column="item_name3"/>
      <result property="itemNumber3" column="item_number3"/>
      <result property="itemPrice3" column="item_price3"/>
      <result property="itemName4" column="item_name4"/>
      <result property="itemNumber4" column="item_number4"/>
      <result property="itemPrice4" column="item_price4"/>
      <result property="itemName5" column="item_name5"/>
      <result property="itemNumber5" column="item_number5"/>
      <result property="itemPrice5" column="item_price5"/>     
      <result property="sellerId" column="seller_id"/>
      <result property="valid" column="valid"/>
	</resultMap>
	
	<select id="findComboById" parameterType="int" resultMap="combo">
		select * from sbillit_combo
		where id = #{id}#
	</select>

	<insert id="insertCombo" parameterType="SbillitCombo" >
		insert into sbillit_combo (
		id, item_name1, item_number1, item_price1,
		item_name2, item_number2, item_price2, item_name3, item_number3, item_price3,
		item_name4, item_number4, item_price4, item_name5, item_number5, item_price5,
		seller_id, valid)
		values (
			#{id}, #{itemName1}, #{itemNumber1}, #{itemPrice1}, 
			#{itemName2}, #{itemNumber2}, #{itemPrice2}, #{itemName3}, #{itemNumber3}, #{itemPrice3}, 
			#{itemName4}, #{itemNumber4}, #{itemPrice4}, #{itemName5}, #{itemNumber5}, #{itemPrice5}, 
			#{sellerId}, #{valid}
		)
	<selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
	   SELECT id FROM seq_combo
	</selectKey>
	
	</insert>
	
	<update id="updateSeq">
    	UPDATE seq_combo SET id=id+1;
    </update>	


</mapper>
