<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitFriendMapper">
	<resultMap id="friend" type="SbillitFriend">
      <!-- result property="userId" column="user_id"/> -->
      <result property="userId" column="friend_id"/>
      <result property="nickname" column="nickname"/>
      <result property="phoneNumber" column="phone" />
      <result property="avatar" column="avatar" />
      <result property="status" column="status"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
	</resultMap>
	
	<select id="findFriends" parameterType="java.util.HashMap" resultMap="friend">
	  SELECT 
	  	friend_id, nickname, phone, status, u.avatar, f.created_at as created_at, f.updated_at as updated_at
	  FROM sbillit_friend AS f, sbillit_user AS u 
	  WHERE f.friend_id = u.id AND user_id = #{userId}
	  <if test="friendId != null">
	    AND f.friend_id = #{friendId}
	  </if>
	  AND status IN (0, 1)
	  ORDER BY status ASC
	</select>	
	
	<insert id="insertFriends" parameterType="java.util.HashMap" >
	  INSERT INTO sbillit_friend (user_id, friend_id, status, created_at, updated_at)
	  VALUES 
	  <foreach item="item" collection="friendsList" separator=",">
          (#{item.userId}, #{item.friendId}, #{item.status}, UNIX_TIMESTAMP(), UNIX_TIMESTAMP())   
      </foreach>
	</insert>
	
	<update id="updateFriend" parameterType="java.util.HashMap">
	  UPDATE sbillit_friend SET status = #{status}, updated_at = UNIX_TIMESTAMP()
	  WHERE user_id=#{userId} AND friend_id=#{friendId}
	</update>

</mapper>