<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitUserMapper">
 	<resultMap id="user" type="SbillitUser">
      <id property="id" column="id"/>
      <result property="password" column="password"/>
      <result property="point" column="point"/>
      <result property="banned" column="banned"/>
      <result property="snsId" column="sns_id"/>
      <result property="snsType" column="sns_type"/>
      <result property="snsToken" column="sns_token"/>
      <result property="nickname" column="nickname"/>
      <result property="country" column="country"/>
      <result property="city" column="city"/>
      <result property="lastLoginAt" column="last_login_at"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
    </resultMap>
        
    <select id="findAllUsers" resultMap="user">
        SELECT * FROM sbillit_user WHERE 1=1
    </select>
    
    <select id="findUserById" parameterType="long" resultMap="user">
        SELECT * FROM sbillit_user WHERE id=#{value}
    </select>
    
    <insert id="insertUser" parameterType="SbillitUser">
    	INSERT INTO sbillit_user (id, password, point, banned, sns_id, sns_type, sns_token, nickname, last_login_at, created_at, updated_at) 
    	VALUES (#{id}, #{password}, #{point}, #{banned}, #{snsId}, #{snsType}, #{snsToken}, #{nickname}, UNIX_TIMESTAMP(), UNIX_TIMESTAMP(), UNIX_TIMESTAMP())   
    <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
	   SELECT id FROM seq_user
	</selectKey>
    </insert>
    
    <update id="updateSeq">
    	UPDATE seq_user SET id=id+1;
    </update>
    
</mapper>