<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.SbillitUserAuthtokenMapper">
	<resultMap id="sbillitUserAuthtoken" type="SbillitUserAuthtoken">
      <result property="userId" column="user_id"/>
      <result property="authtoken" column="authtoken"/>
      <result property="createdAt" column="created_at"/>
      <result property="updatedAt" column="updated_at"/>
      <result property="expiredAt" column="expired_at"/>
    </resultMap>

	<select id="getUserAuthtokenByUserId" parameterType="long" resultMap="sbillitUserAuthtoken">
        SELECT user_id, authtoken, created_at, updated_at, expired_at 
        FROM sbillit_user_authtoken WHERE user_id = #{value}
    </select>
    
    <insert id="insertUserAuthtoken" parameterType="sbillitUserAuthtoken">
    	INSERT INTO sbillit_user_authtoken (user_id, authtoken, created_at, updated_at, expired_at) 
    	VALUES (#{userId}, #{authtoken}, UNIX_TIMESTAMP(), UNIX_TIMESTAMP(), #{expiredAt})    
    </insert>
    
    <update id="updateUserAuthtoken" parameterType="SbillitUserAuthtoken">
    	UPDATE sbillit_user_authtoken 
    	<set>
      		<if test="authtoken != null">
      			authtoken = #{authtoken}, 
      		</if>
      		updated_at = UNIX_TIMESTAMP(), 
      		expired_at = #{expiredAt}
      	</set>
    	WHERE user_id = #{userId}
    </update>

</mapper>
