<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>		
		<typeAlias alias="SbillitUser" type="entity.SbillitUser" /> 	
		<typeAlias alias="SbillitUserSession" type="entity.SbillitUserSession" /> 
		
		<typeAlias alias="SbillitOrder" type="entity.SbillitOrder" /> 
		<typeAlias alias="SbillitOrderShare" type="entity.SbillitOrderShare" /> 
		<typeAlias alias="SbillitOrderItem" type="entity.SbillitOrderItem" /> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mapper/SbillitUserMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitUserSessionMapper.xml"/>
		
		<mapper resource="mybatis/mapper/SbillitOrderMapper.xml"/>
    </mappers>

</configuration>