<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>		
		<typeAlias alias="SbillitUser" type="entity.SbillitUser" /> 	
		<typeAlias alias="SbillitUserAuthtoken" type="entity.SbillitUserAuthtoken" /> 
		<typeAlias alias="SbillitOrder" type="entity.SbillitOrder" /> 
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mapper/SbillitUserMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitUserAuthtokenMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitOrderMapper.xml"/>
    </mappers>

</configuration>