<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>		
		<typeAlias alias="SbillitUser" type="entity.SbillitUser" /> 	
		<typeAlias alias="SbillitUserSession" type="entity.SbillitUserSession" /> 
		
		<typeAlias alias="SbillitFriend" type="entity.SbillitFriend" /> 
		
		<typeAlias alias="SbillitOrder" type="entity.SbillitOrder" /> 
		<typeAlias alias="SbillitOrderShare" type="entity.SbillitOrderShare" /> 
		<typeAlias alias="SbillitOrderItem" type="entity.SbillitOrderItem" /> 
		<typeAlias alias="SbillitOrderThumbup" type="entity.SbillitOrderThumbup" />
		<typeAlias alias="SbillitOrderComment" type="entity.SbillitOrderComment" />  
		
		<typeAlias alias="SbillitAds" type="entity.SbillitAds" /> 
		<typeAlias alias="SbillitCombo" type="entity.SbillitCombo" /> 
		<typeAlias alias="SbillitSeller" type="entity.SbillitSeller" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mapper/SbillitUserMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitUserSessionMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitOrderMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitAdsMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitComboMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitSellerMapper.xml"/>
		<mapper resource="mybatis/mapper/SbillitFriendMapper.xml"/>
		
    </mappers>

</configuration>